
html,body{
  margin:0%;
  padding: 0%;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
/* nav bar styling */
.nav-bar{
border: 0px solid green;

width: 100%;

}


.nav-bar a,span{
color: #fff;
text-decoration: none;
}
/* nav bar top */
.nav-bar-top{
background-color: #0f1217;
display: flex;
width: 100%;
justify-content: space-around;
}
.nav-bar-top a{
  border: 1px solid #0f1217;
}
.nav-left{
display: flex;
border: 0px solid red;

}
.nav-bar-top .nav-left .nav-hamburger-menu{
border:0px solid purple;
height: fit-content;
width: fit-content;
text-decoration: none;
margin: 8px;
padding: 5px ;
border: 1px solid #b3c4eb;
border-radius: 2px;
}
.nav-bar-top .nav-left .logo-amazon{
width: 157px;
height: 44px;
position: relative;
display: flex;
border: 0px solid blue;
padding-top: 12px;
}
.nav-bar-top #logo-pic{
background-image: url('../icons/logo.png');
background-repeat: no-repeat;
background-size: contain;
display: block;

width: 97px;
height: 30px;
}
.nav-bar-top #logo-txt{

display: block;
padding-top: 5px;

}
.nav-center{
display: flex;

}
.nav-bar-top .nav-center{
padding-top: 10px;
flex-shrink: 3;
width: 55%;
}
.nav-bar-top .nav-center .select-all{
border-radius: 6px 0px 0px 6px;

}
.nav-bar-top .nav-center .select-all select{
width: 45px;
height: 39px;
color: #0f1217;
border: 0.5px white;
padding-left: 5px;
}
.nav-bar-top .nav-center #search-box{
height: 40px;
width: 100%;
}
.nav-bar-top .nav-center #search-icon{
height: 40px;
width:45px;
background-color: #eda137;
background-image: url('../icons/search.png');
background-repeat: no-repeat;
background-size: 25px;
background-position: center;
display: flex;
border-radius: 0px 4px 4px 0px;
border: none;
}
.nav-right{
display: flex;

}
.nav-bar-top .nav-right{

justify-content: space-around;
align-items: center;

}
.nav-bar-top .nav-right a{
display: flex;
flex-direction: column;
padding: 5px 10px ;
box-sizing: border-box;
}

.line-1{
font-size:12px;
font-weight: 100;
display: block;
}
.line-2{
font-size: 14px;
font-weight: 600;
display: block;
}
.nav-bar-top .nav-right .flag{
padding-top: 9px;
}
.nav-bar-top .nav-right .flag img{
height: 16px;
width: 22px;
}
.nav-bar-top .nav-right .cart{

height: 28px;
width: 65px;
box-sizing: content-box;


}
.nav-bar-top .nav-right .cart img{
  height: 25px;
  width: 38px;
  position: relative;
  padding-bottom: 50px;
}
.nav-bar-top .nav-right .cart .line-1{
color: orange;
font-size: 14px;
font-weight: 700;
padding-left: 20px;

}

/*nav bar botttom styling*/
.nav-bar-bottom{
background-color: #232f3e;
display: flex;
width: 100%;
justify-content: space-around;
align-items: center;
}
.nav-bar-bottom .nav-left{
  border: 1px solid #232f3e;
  padding: 0px 8px;
  box-sizing: border-box;
}

.nav-bar-bottom .nav-left #user-location-icon img{

height: 35px;
width: 36x;


}
.nav-bar-bottom .nav-left span{
padding-top: 2px;
display: block;
}
.nav-bar-bottom .nav-center{
box-sizing: border-box;
text-align: center;
}
.nav-center .line-2{
font-weight: 500;
padding:5px 8px;
box-sizing: border-box;
border: 1px solid #232f3e;
}
.nav-bar-bottom .nav-right a img{
height: 35px;
object-fit: contain;
width: 370px;
border: 1px solid #232f3e;
}

/* banner section */
section .section{
border:0px solid goldenrod;
}
section .content{
background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img20/Audio/Gateway/July/One_audio_1500x600._CB428765997_.jpg");
background-repeat: no-repeat;
display: flex;
justify-content: space-between;
background-position: center top;
overflow: visible;
}
.content div{
height: 250px;
width: fit-content;
border: 0px solid yellow;
}
.content .move-left{
position: relative;
left: 10px;

}

.content .move-right{
position: relative;
right: 10px;
}
#left-slide,#right-slide{
position: relative;
top:100px;
text-decoration: none;
color: #dddddd;

}
/* products section */
.products{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: #ebedf0;  

}
/*card */
.products .cards
{ width: 350px;
height: 410px;
display: flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;
border-radius: 2px;
margin: 0px 10px 20px 10px;
background-color: white;

}
.products .cards .title{
width: 325px;
height: fit-content;
border: 0px solid red;

}
.products .cards .title h2{
font-size: 21px;
vertical-align: middle;
}
.products .cards .items{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
height: 303px;
border: 0px solid green;
}

.products .cards .items a{
width: 154px;
height: 122px;
color:black;
font-size: 12px;
font-weight: 100;
text-decoration: none;
}
.products .cards .items #oneitem {
width: 310px;
height: fit-content;
}
.products .cards .items a img{
width: 154px;
height: 102px;
}
.products .cards .items #oneitem img{
width: 310px;
height: 290px;
object-fit: cover;
border: 0px solid red;
}
.products .cards .more{
width: 325px;
height: 25px;
border: 0px solid blue;
}
.products .cards .more a{
color:cornflowerblue;
font-size: 12px;
font-weight: 100;
text-decoration: none;

}
/* sign in section */
.products .cards-signin
{ width: 350px;
height: 390px;
display: flex;
justify-content: space-between;
flex-direction: column;
align-items: center;
margin: 0px 10px 20px 10px; 
}
.products .cards-signin .title{
width: 350px;
height: fit-content;
border-radius: 2px;
background-color: white;

}
.products .cards-signin .title h2{
width: 300px;
padding-left: 10px;  
}
.signUpbutton{
width: 220px;
font-weight: 500;
width: 290px;
  height: 28px;
  margin: 0px 30px 10px 30px ;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  font-size: 13px;
  box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
  border-radius: 3px; 
}

/*footer styling*/
footer a {
  color: #fff;
  text-decoration: none;
}
footer ul{
  list-style: none;
}
.footer-top {
  background: #37475a;
  text-align: center;
  height: 40px;
  
  margin-top: 0px;
  padding-top: 10px;
  box-sizing: border-box;
}

.footer-center {
background: #232f3e;

width: 100%;
padding-top: 30px;

} 
.footer-center .center-top{
display: flex;
text-align: center;
justify-content: center;

}
.center-top .center-ul{
text-align: left;
padding: 0px 60px;
}
.center-top .center-ul .head{
font-size: 15px;
font-weight: 700;
}
.center-top .center-ul li{
margin: 10px 0px;
font-size: 13px;
} 
.logo-globe{
text-align: center;
display: flex;
justify-content: center;
}
.logo-globe span{
display: block;
margin: 45px;
}
#logo-amazon {
background-image:url('../icons/logo.png') ;
background-repeat: no-repeat;
background-size: contain;
width: 76px;
height: 23px;
display: inline-block;
border: 0px solid red;

  
}
#globe{
  border: 2px solid #3a4553;
  border-radius: 5px;
  padding: 10px;
  width:117px;
  height: 34px;
  
}
#globe img{
object-fit: contain;
}

.countries{
text-align: center;
padding-bottom: 40px;

}
.countries a{
margin: 0px 7px;

}
.footer-bottom{
background-color: #131a22;
display: flex;
justify-content: space-around;

}
.footer-bottom .services{
 display: flex;
 justify-content: space-around;
 width: 75%;
 
 
} 
.footer-bottom .services ul{
 
 text-align: left;
 position: relative;
 
}
.footer-bottom .services ul li{
 font-size: 12px;
 color : #dddddd;
 padding: 10px 10px;
}
.services ul li span{
 font-size: 10px;
}

#conditions  li{
display: inline;
padding: 10px;
}

